html {
    scroll-behavior: smooth;
}
body {
    height: 300vh;
    width: 100%;
    min-width: 300px;
    background: url(../images/GT-1.jpg) no-repeat;
    background-size: cover;
    overflow: scroll;
    scroll-behavior: smooth;
    margin: 20px;
    justify-content: start;
    padding: 20px;
    align-items: center;
    font-family: monospace;
    color: #fff;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.arrow-down{
    -webkit-animation: bounce-top 3s ease-in-out infinite ;
	        animation: bounce-top 3s ease-in-out infinite ;
}


@keyframes bounce-top {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

.name {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #54a29b; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 12s steps(15, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #54a29b; }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
	-webkit-animation: slide-in-right 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-timeline: view();
}

.autoShow {
    -webkit-animation: text-appear both;
    animaiton: text-appear both;
    animation-timeline: view();
    animation-range: entry 30% cover 150%
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tech-container img {
    left: max(calc(170px * 9), 100%);
    position: absolute;
    animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
   to {
       left:-200px
   }
}

.projects .item {
    background-color: transparent;
    border: 1px solid rgba(255, 244, 240, 0.51);
    height: 220px;

}

